# If you want Electron lambda to appear in a linux app launcher ("start menu"),
# install this file by doing:
# sudo desktop-file-install electron-cash.desktop

[Desktop Entry]
Comment=Lightweight lambda Client
Exec=electron-cash %u
GenericName=lambda Wallet
Icon=electron-cash
Name=Electron lambda
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=Electron lambda
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoincash;x-scheme-handler/cashacct;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electron-cash --testnet %u
Name=Testnet mode
